* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    user-select: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005582;
    color: #e5eef2;
}

.nombre-pagina-header {
    margin-left: 20px;
}

.nombre-pagina-header:hover{
    cursor: default;
}

.menu-opciones {
    display: flex;
    padding: 0px 20px;
}

.menu-drop {
    padding: 10px;
    border: none;
    background-color: #005582;
    color: #e5eef2;
    font-size: large;
}

.menu-drop:hover {
    background-color: #0086ad;
    cursor: pointer;
    color: #e5eef2;
}

.inicio-boton {
    justify-content: left;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}

.menu-oculto-header {
    position: relative;
    display: inline-block;
}

.contenido-menu-oculto-header {
    display: none;
    position: absolute;
    min-width: 150px;
    background-color: #005582;
    padding: 10px;
    height: fit-content;
}

.menu-oculto-header:hover .contenido-menu-oculto-header{
    display: block;
    cursor: pointer;
}

.opcion:hover {
    background-color: #0086ad;
}

.imagen-portada{
    display: block;
}

.paginas-container {
    display: flex;
}

.opciones-botones {
    width: calc(100% / 3);
    height: 90px;
    border: none;
    background-color: #005582;
    font-weight: 500;
    font-size: 20px;
}

.boton1 {
    background-color: #72bdde;
}

.boton2 {
    background-color: #da9bb9;
}

.boton3 {
    background-color: #b08bc8;
}

.boton1:hover{
    background-color: #7fd3f7;
}

.boton2:hover{
    background-color: #f7adce;
}

.boton3:hover{
    background-color: #c49bdf;
}

.titulo-imagen-construccion {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 5px;
}

.imagen-construccion {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
        background-color: #005582;
        color: #f2f2f2;
        padding: 30px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
}

.footer a {
        color: #f2f2f2;
        text-decoration: none;
}

.footer h3 {
        font-weight: bold;
        font-size: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
        margin-top: 0;
}

.footer p {
        margin: 10px 0;
}

.footer img {
        vertical-align: middle;
        height: 20px;
}

.footer strong {
        font-weight: bold;
}

/* Añadidos Juan */

.titulo-salones{
    padding: 10px;
    text-align: left;
    color: black;
    background-color: #cecce2;
}

.enlistado{
    color: white;
    background-color: #ffffff;
    display: grid;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.lista-parte{
    background-color:#007ca1;
    list-style: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.espacio-imagen{
    margin-bottom: 0.5em
}