* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    user-select: none;
}

.textoblanco{
    color: #e5eef2
}

.altura-50 {
    height: 50px;
}

.bg-celeste {
    background-color: #65a8C5
}

.bg-azul-600 {
    background-color: #005582; 
} 


.navbar-brand{
    color: #e5eef2 !important;
}
.dropdown-toggle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu-dark {
    background-color: #005582; ; 
}

.dropdown-toggle::after {
    content: none !important;
    display: none !important;
}

.dropdown-final .dropdown-menu{
    left: 0;
    right: auto;
    transform: translateX(-25%);
}

.navbar .btn {
    background-color: transparent !important; /* Elimina el color de fondo */
    border: none; /* Elimina bordes */
    color: #e5eef2 !important; /* Asegura que el texto sea visible */
    padding: 8px 15px; /* Ajusta el espacio interno para uniformidad */
    transition: all 0.3s ease-in-out; /* Agrega suavidad en cambios */
}

.navbar .btn:hover {
    color: #555; /* Cambia el color del texto al pasar el cursor */
}

.navbar-collapse {
    background-color: #005582 !important; /* Asegura que el fondo cubra todo */
}

@media (max-width: 576px) {
    .dropdown-final .dropdown-menu {
        transform: translateX(0); 
        left: auto;
        right: 0; 
    }
}

.nav-link {
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-weight: normal !important;
}
